@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

body {
	height: 100%;
	width: 100%;
	color: #777777;
	transition: background-color .5s;
	font-family: "Raleway", sans-serif;
	font-size: 200%;
	background-image: url("../img/work-bg.png");
 	background-repeat: no-repeat;
 	background-size: 100% 100%;;
 	background-attachment: fixed;
 	z-index: 0;
	
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


.page-header {
	font-family: "Poppins", sans-serif;
	font-size: 200%;
}

.row  {
	text-align: center;
	margin: 0 10%;
    background-color: rgba(80, 81, 81, 0.5);
	color: #d7e5e5;
 	
}

#skillz {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#jobz {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 50px;
}

ul {
	list-style-position: inside;
	z-index: 2;
}
h3 {
	text-decoration: underline;
}

img {
	z-index: 3;
}

@media screen and (max-width: 900px) {
	.page-header {
		font-size: 170%;
	}
	
	img {
		width: 60px;
		height: 60pxjn;
	}
}



